                <div class="row">
                    <div class="col-md-12">
                     <center><h4>Incoming Photo News</h4>   </center>
                     <%
                       newPhotos = HTTParty.get "https://teamcaptureitapi.herokuapp.com/photos.json"
												
												parsed_response = JSON.parse(newPhotos.body)
												#	binding.pry
		                      parsed_response.each do |item|
													end
		  							
											%>
											<!-- <center>
											 <img src=https://teamcaptureitapi.herokuapp.com/<%= parsed_response[0]["image"] %> height="500px"/>
											</center> -->
											<div style="">
												<p align=center style="color:red;background-color:yellow;font-size:20px;align:center;">Typhoon Nari sweeps through Philippines</p>
																<div style="width:15%; height:500px; color:gray;float:left;">
																	<h5 align=center>Reporters info</h5>
																			<div align=center>Trisha <br><img width=100px src=http://3.bp.blogspot.com/-a6oV7RSoDgo/U2Grj52gXSI/AAAAAAAABBc/sdScwNHZK58/s1600/headshot-round6.jpg /></div>
																			<div><img width=20px src=http://img3.wikia.nocookie.net/__cb20140427224234/caramelangel714/images/7/72/Location_Icon.png /> Araneta Center Bus Terminal, philippines</div>
																			<div></div>
																</div>
																<div style="padding:20px;float:left;" >
																
																 <img src=http://www.dw.de/image/0,,17153977_303,00.jpg height="450px" />
																 
																 </div>
																 <div style=" height:500px; float:left;">
																			<div align=center>Save Photo <br><img width=100px src=http://cdn.flaticon.com/png/256/14829.png /></div>
																			<div>Units left: 24 </div
																			<div></div>
																</div>
																
											</div>
											

                    </div>
                </div>              
                
               