                <div class="row">
                    <div class="col-md-12">
                     <center><h4>Incoming Photo News</h4>   </center>
                     <%
                       newPhotos = HTTParty.get "https://teamcaptureitapi.herokuapp.com/photos.json"
												
												parsed_response = JSON.parse(newPhotos.body)
												#	binding.pry
		                      parsed_response.each do |item|
													end
		  							
											%>
											<!-- <center>
											 <img src=https://teamcaptureitapi.herokuapp.com/<%= parsed_response[0]["image"] %> height="500px"/>
											</center> -->
											<center>
											<p style="color:red;background-color:yellow;font-size:20px;align:center;">Typhoon Nari sweeps through Philippines</p>

											
										
											 <img src=http://www.dw.de/image/0,,17153977_303,00.jpg height="500px
											 
											 </center>

                    </div>
                </div>              
                
               