
-- Table: products
CREATE TABLE products ( 
    id                        SERIAL         PRIMARY KEY AUTOINCREMENT
                                              NOT NULL,
    pid                       VARCHAR( 15 ),
    name                      VARCHAR( 30 ),
    item_type                 VARCHAR( 3 ),
    has_options               VARCHAR( 1 ),
    size_type                 VARCHAR( 3 ),
    size                      VARCHAR( 11 ),
    has_color                 VARCHAR( 1 ),
    color                     VARCHAR( 20 ),
    in_stock                  VARCHAR( 1 ),
    stock_left                INTEGER,
    price                     INTEGER,
    for_sex                   VARCHAR( 1 ),
    has_variant               VARCHAR( 1 ),
    barcode_path_file_name    VARCHAR( 255 ),
    barcode_path_content_type VARCHAR( 255 ),
    barcode_path_file_size    INTEGER,
    barcode_path_updated_at   DATETIME,
    image_path_file_name      VARCHAR( 255 ),
    image_path_content_type   VARCHAR( 255 ),
    image_path_file_size      INTEGER,
    image_path_updated_at     DATETIME,
    last_bought               VARCHAR( 25 ),
    bought_times              INTEGER,
    last_scanned              VARCHAR( 25 ),
    scanned_times             INTEGER,
    is_active                 VARCHAR( 1 ),
    ranking                   INTEGER,
    created_at                DATETIME,
    updated_at                DATETIME 
);

