
/*=============================================================
    Authour URI: www.binarycart.com
    Version: 1.1
    License: MIT
    
    http://opensource.org/licenses/MIT

    100% To use For Personal And Commercial Use.
   
    ========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/
/* ayo styles */

.top-width-fix
{
  top: 0px; width:100%;
}

.in-cart
{
  background-color: blue;
}

.remove-from-cart
{
  display: none;
}

.in-cart .remove-from-cart
{
  display: inherit;
}

.remove-fix
{
  font-size:24px;padding-left:3px;
}
 /* snap noif js */
 .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #eed3d7;
  border-radius: 4px;
  position: absolute;
  bottom: 0px;
  right: 21px;
  /* Each alert has its own width */
  float: right; 
  clear: right;
}

.alert-red {
  color: white;
  background-color: #DA4453;
}
.alert-green {
  color: white;
  background-color: #37BC9B;
}
.alert-blue {
  color: white;
  background-color: #4A89DC;
}
.alert-yellow {
  color: white;
  background-color: #F6BB42;
}
.alert-orange {
  color:white;
  background-color: #E9573F;
}

/*add button*/
.r {
border: none;
border-radius: 50%;
box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
box-sizing: content-box;
cursor: pointer;
outline: none;
padding: 0;
pointer-events: auto;
position: relative;

}

.gE {
background-color: #db4437;
height: 56px;
position: relative;
width: 56px;
}

/* checkbox for thumbs */
.thumbcheck
{
  width: 30px;
  text-align: left;
  height: 30px;
  margin-right: 15px;

}

.checklabel
{
  vertical-align: text-bottom;
}



/* ayo syle ends*/

